extends ../layout

block content
  p.h2.text-center.tamTitulo Insertar Libro
  .container  
    form(action="/agregarLibro" id='signup-form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-row
        .form-group.col-md-6
          label(for='code') Código
          input#code.form-control(type='number', name='code', placeholder='Código', autofocus, required)
        .form-group.col-md-6
          label(for='title') Título
          input#title.form-control(type='text', name='title', placeholder='Título', autofocus, required)
      .form-row
        .form-group.col-md-6
          label(for='language') Idioma
          input#language.form-control(type='text', name='language', placeholder='Idioma', autofocus, required)
        .form-group.col-md-6
          label(for='year') Año
          input#year.form-control(type='number', name='year', placeholder='Año', autofocus, required)     
      .form-row
        .form-group.col-md-6
          label(for='author') Autor
          input#author.form-control(type='text', name='author', placeholder='Autor', autofocus, required)
        .form-group.col-md-6
          label(for='category') Categoría
          input#category.form-control(type='text', name='category', placeholder='Categoría', autofocus, required)            
      .form-group
        label(for='numberPages') Número de páginas
        input#numberPages.form-control(type='number', name='numberPages', placeholder='Número de páginas', autofocus, required)
      button.btn.btn-success(type='submit')
        i.fas.fa-check-circle
        |  Agregar
