
extends ../layout

block content
  .container
    h1.text-center Crear usuario

    form.form-horizontal(action="/admin/usuario/crear" id='signup-form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='names') Nombres
        .col-sm-7
          input.form-control(type='text', name='names', id='names', placeholder='Nombres', autofocus, required)
      .form-group
        label.col-sm-3.control-label(for='surnames') Apellidos
        .col-sm-7
          input.form-control(type='text', name='surnames', id='surnames', placeholder='Apellidos', autofocus, required)
      .form-group
        label.col-sm-3.control-label(for='email') Email
        .col-sm-7
          input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)          
      .form-group
        label.col-sm-3.control-label(for='email') Tipo de usuario
        .col-sm-7
          select.custom-select(name='type' required)
            option(selected='') Elegir un tipo de usuario
            option(value= 1) Administrador
            option(value= 2) Alumno
            option(value= 3) Profesor

      .form-group
        .col-sm-offset-3.col-sm-7
          button.btn.btn-success(type='submit')
            i.fa.fa-user-plus
            | Crear usuario