extends ../layout

block content
  .container
    .col-sm-8.col-sm-offset-2
      form(action="/usuario/recuperarcontrasena" method='POST')
        br
        h2 Se te olvidó tu contraseña
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          p Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para restablecer su contraseña.
          br
          label.control-label(for='email') Email
          input.form-control(type='email', name='email', id='email', placeholder='Ingrese su correo electrónico', autofocus, required)
        .form-group
          button.btn.btn-primary(type='submit')
            i.fa.fa-key
            |  Restablecer la contraseña
