extends ../layout

block content
  .container
    .text-center
      form.form-signin(action='/usuario/ingreso' method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        div(style='font-size:3em; color:#007bff')
          i.fas.fa-robot
        h1.h3.mb-3.font-weight-normal Por favor inicia sesión
        label.sr-only(for='email') Email 
        input#email.form-control(type='email', name='email', placeholder='Email', required, autofocus)
        label.sr-only(for='password') Contraseña
        input#password.form-control(type='password', name='password', placeholder='Contraseña', required)
        br
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Iniciar sesión
        a.btn.btn-link(href='/usuario/recuperarcontrasena') ¿Olvidaste tu contraseña?