extends ../layout

block content
  .container
    .col-sm-8.col-sm-offset-2
      form(method='POST')
        br
        h2 Restablecer la contraseña
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label(for='password') Nueva contraseña
          input.form-control(type='password', name='password', id='password', placeholder='Nueva contraseña', autofocus, required)
        .form-group
          label(for='confirm') Confirmar contraseña
          input.form-control(type='password', name='confirm', id='confirm', placeholder='Confirmar contraseña', required)
        .form-group
          button.btn.btn-primary.btn-reset(type='submit')
            i.fa.fa-keyboard-o
            | Cambiar contraseña
