extends ../layout

block content
  .page-header
    h3.text-center Crear Cuenta
  form.form-horizontal(action="/signup" id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='names') Nombres
      .col-sm-7
        input.form-control(type='text', name='names', id='names', placeholder='Nombres', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='surnames') Apellidos
      .col-sm-7
        input.form-control(type='text', name='surnames', id='surnames', placeholder='Apellidos', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required) 
    //.form-group
      label.col-sm-3.control-label(for='code') Codigo
      .col-sm-7
        input.form-control(type='number', name='code', id='code', placeholder='Codigo', autofocus, required)           
    .form-group
      label.col-sm-3.control-label(for='password') Contrase単a
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Contrase単a', required)
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirmar constrase単a
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirmar contrase単a', required)
    //.form-group
      label.col-sm-3.control-label(for='birthdate') Fecha de nacimiento
      .col-sm-7
        input.form-control(type='date', name='birthdate', id='birthdate', placeholder='Fecha de nacimiento', autofocus, required)
    //.form-group
      label.col-sm-3.control-label(for='school') Escuela
      .col-sm-7
        input.form-control(type='text', name='school', id='school', placeholder='Escuela', autofocus, required)
    //.form-group
      label.col-sm-3.control-label(for='faculty') Facultad
      .col-sm-7
        input.form-control(type='text', name='faculty', id='faculty', placeholder='Facultad', autofocus, required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Registrarse
