 
nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  a.navbar-brand(href='/') 
     i.fas.fa-robot.fa-3x
     span(style='font-weight: bold')  Chatbot e-learning
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      //li.nav-item.active
        a.nav-link(href='/')
          | Inicio
          span.sr-only (current)
    ul.navbar-nav.navbar-right
      if !user
        li.nav-item(class=(title == 'Login') ? 'active' : undefined)
          a.nav-link(href='/usuario/ingreso') Iniciar Sesión
        li.nav-item(class=(title == 'Create Account') ? 'active' : undefined)
          a.nav-link(href='/usuario/registro') Crear Cuenta
      else
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            if user.profile.picture
              center
                img(src=user.profile.picture)
            else
              img(src=user.gravatar(60))
            span   #{user.names}
            i.caret
          ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            li
              a.dropdown-item(href='/perfil') Mi Perfil
            li.dropdown-divider
            li
              a.dropdown-item(href='/usuario/salir') Salir
      
    
