 
nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  a.navbar-brand(href='/') 
     i.fas.fa-robot.fa-3x
     span(style='font-weight: bold')  Yachaybot
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      if !user
      else if user.type == 1
        li.nav-item.active
          a.nav-link(href='/admin/usuarios')
            | Gestión de usuarios
            span.sr-only (current)
        li.nav-item.active
          a.nav-link(href='/admin/cursos')
            | Gestión de cursos
            span.sr-only (current)
      else if user.type == 2
        li.nav-item.active
          a.nav-link(href='/alumno/cursos')
            | Cursos abiertos
            span.sr-only (current)
        li.nav-item.active
          a.nav-link(href='/alumno/cursosmatriculados')
            | Cursos matriculados
            span.sr-only (current)
      else
        li.nav-item.active
          a.nav-link(href='/profesor/cursos')
            | Gestión de cursos asignados
            span.sr-only (current)
        li.nav-item.active
          a.nav-link(href='/profesor/chatbots')
            | Gestión de chatbots
            span.sr-only (current)
    ul.navbar-nav.navbar-right
      if !user
        li.nav-item(class=(title == 'Login') ? 'active' : undefined)
          a.nav-link(href='/usuario/ingreso') Iniciar Sesión
        li.nav-item(class=(title == 'Create Account') ? 'active' : undefined)
          a.nav-link(href='/usuario/registro') Crear Cuenta
      else
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            if user.profile.photo
              center
                .img-user-h.rounded(style=`background-image: url(${user.profile.photo})`)
            else
              img.rounded(src=user.gravatar(60))
            span   #{user.names}
            i.caret
          .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item(href='/perfil') Mi Perfil
            a.dropdown-item(href='/usuario/salir') Salir
      
    
