extends layout

block content
  main(role='main')
    if !user
      .jumbotron
        .container
          h1.display-3 Bienvenido a e-learning Chatbot!
          p
            | Sistema de gestion de Chatbots.
          p
            a.btn.btn-primary.btn-lg(href='/', role='button') Ver más »
    else if (user.type==1)
      .jumbotron
        .container
          h1.display-3 Bienvenido a e-learning Chatbot
          p
            | 
          //- p
          //-   a.btn.btn-primary.btn-lg(href='#', role='button') Ver más »        
      .container
        .row
          .col-md-4
            h2 Gestión de Usuarios
            p
              | Aca podrá ver todos los usuarios del sistema.
            p
              a.btn.btn-secondary(href='/admin/usuarios', role='button') Ver más »
          .col-md-4
            h2 Gestión de Cursos
            p
              | Aca se podrá ver todos los cursos del sistema.
            p
              a.btn.btn-secondary(href='/admin/cursos', role='button') Ver más »
          .col-md-4
            h2 Gestión de Perfiles de Aprendizaje
            p
              | Aca podrá gestionar y ver los perfiles de aprendizaje.
            p
              a.btn.btn-secondary(href='', role='button') Ver más »      
      hr
    else if user.type == 2
      .jumbotron
        .container
          h1.display-3 Bienvenido a e-learning Chatbot!
          p
            | 
          //- p
          //-   a.btn.btn-primary.btn-lg(href='#', role='button') Ver más »        
      .container
        // Example row of columns
        .row
          .col-md-4
            h2 Cursos Abiertos
            p
              | 
            p
              a.btn.btn-secondary(href='/alumno/cursos', role='button') Ver más »
          .col-md-4
            h2 Cursos Matriculados
            p
              | 
            p
              a.btn.btn-secondary(href='/alumno/cursosmatriculados', role='button') Ver más »
          
      hr
    else if user.type == 3
      .jumbotron
        .container
          h1.display-3 Bienvenido a e-learning Chatbot!
          p
            | 
          //- p
          //-   a.btn.btn-primary.btn-lg(href='#', role='button') Ver más »        
      .container
        // Example row of columns
        .row
          .col-md-4
            h2 Gestión de Cursos asignados
            p
              | 
            p
              a.btn.btn-secondary(href='/profesor/cursos', role='button') Ver más »
          .col-md-4
            h2 Gestión de Chatbots
            p
              | 
            p
              a.btn.btn-secondary(href='/profesor/chatbots', role='button') Ver más »
          
      hr