extends layout

block content
  main(role='main')
    if !user
      .jumbotron
        .container
          h1.display-3 Bienvenido a e-learning Chatbot!
          p
            | Sistema de gestion de Chatbots.
          p
            a.btn.btn-primary.btn-lg(href='/', role='button') Ver más »
    else if (user.type==1)
      .jumbotron
        .container
          h1.display-3 Bienvenido a e-learning Chatbot!
          p
            | Sistema de gestion de pedido de libros de la biblioteca en la FISI-UNMSM.
          p
            a.btn.btn-primary.btn-lg(href='#', role='button') Ver más »        
      .container
        // Example row of columns
        .row
          .col-md-4
            h2 Usuarios
            p
              | Aca podrá ver todos los usuarios del sistema.
            p
              a.btn.btn-secondary(href='/usuarios', role='button') Ver más »
          .col-md-4
            h2 Libros
            p
              | Aca se podrá registrar los libros para el uso de la biblioteca.
            p
              a.btn.btn-secondary(href='/libros', role='button') Ver más »
          .col-md-4
            h2 Prestamos
            p
              | Aca podrá solicitar un libro.
            p
              a.btn.btn-secondary(href='/prestamos', role='button') Ver más »      
      hr
    else
      .jumbotron
        .container
          h1.display-3 Bienvenido a e-learning Chatbot!
          p
            | Sistema de gestion de pedido de libros de la biblioteca en la FISI-UNMSM.
          p
            a.btn.btn-primary.btn-lg(href='#', role='button') Ver más »        
      .container
        // Example row of columns
        .row
          .col-md-4
            h2 Cursos abiertos
            //p
              | Aca podrá solicitar un libro.
            p
              a.btn.btn-secondary(href='#', role='button') Ver más »       
      hr  
      .container
        // Example row of columns
        .row
          .col-md-4
            h2 Cursos matriculados
            //p
              | Aca podrá solicitar un libro.
            p
              a.btn.btn-secondary(href='#', role='button') Ver más »       
      hr             