

extends ../layout

block content
  .container
    h1.text-center Detalle chatbot
    hr
    .center
      iframe(height='950', width='500', src='https://bot.dialogflow.com/48eaed75-b2c1-443c-9c42-0da863084e89')
