
extends ../layout

block content
  .container
    .page-header
      h3 Crear Grupo
      hr
    form.form-horizontal(action=`/profesor/cursos/${curso._id}/grupo/crear` id='signup-form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='hidden', name='idCourse' value=curso._id)
      .form-group
        label.col-sm-3.control-label(for='name') Titulo 
        .col-sm-7
          input.form-control(type='text', name='title' required)
      .form-group
        label.col-sm-3.control-label(for='name') Descripción 
        .col-sm-7
          textarea#exampleFormControlTextarea1.form-control(rows='3' name='description')
      .form-group
        .col-sm-offset-3.col-sm-7
          button.btn.btn-success(type='submit')
            i.fa.fa-user-plus
            | Crear grupo